<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	{{! Responsive Meta Tags }} 
	<meta name="HandheldFriendly" content="True" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{{! Ghost head}}
	{{ghost_head}}   
	{{! Styles }} 
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css" /> 
</head> 
<body class="{{body_class}}">
	<header id="header"> 
		{{#if @blog.logo}}
		<a id="logo" href="/"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
		{{/if}}
		<h1><a href="/">{{@blog.title}}</a></h1>
		<p>{{@blog.description}}</p>
		<h6><a href="https://whois.silvenga.com">Simple Whois</a></h6>
		<h6><a href="/about/">About</a></h6> 
	</header>
	{{> menu}}
	<div id="ajax-container" class="content wrapper">
		<div class="" id="ajax-content">
			{{{body}}}
			<div class="hidden" id="title">{{meta_title}}</div>
			<div class="hidden" id="page-length"></div>
			<div class="hidden" id="page-id">{{post.id}}</div>
		</div>
	</div>
	<footer class="footer" id="main-footer">
		<div>Copyright &copy; Mark Lopez 2014. <a href="/humble-disclaimer/">My Humble Disclaimer and Privacy Policy</a>.</div>
	</footer>
	{{!ghost_foot}}
	{{! jQuery}}
	<script src="/assets/js/jquery.min.js"></script>
	{{! Pace, Git-Embed, jQuery History}}
	<script async src="/assets/js/pack.min.js"></script>
	{{! Piwik}}
	<script async type="text/javascript">var _paq = _paq || []; _paq.push(["trackPageView"]); _paq.push(["enableLinkTracking"]); (function () { var e = ("https:" == document.location.protocol ? "https" : "http") + "://clicks.silvenga.com/"; _paq.push(["setTrackerUrl", e + "p.click"]); _paq.push(["setSiteId", "1"]); var t = document, n = t.createElement("script"), r = t.getElementsByTagName("script")[0]; n.type = "text/javascript"; n.defer = true; n.async = true; n.src = "/assets/js/pa.js"; r.parentNode.insertBefore(n, r) })()</script>
	{{! End Piwik Code}}
</body>
</html>